extends ../../pug/layout.pug

include @practio/windy/pug/mixins.pug

block append nav 
  +navLink(href=href("~/") active=isActiveHref(href("~/"))) Home
  +navLink(href=href("~/mixins") active=isActiveHref(href("~/mixins"))) Mixins 
  +navLink(href=href("~/errors") active=isActiveHref(href("~/errors"))) Errors
